* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square {
    width: 110%;
    height: 210px;
    background-color: rgba(143, 223, 43, 0.7);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.logo {
    margin-top: 47px;
    width: 100px;
    position: absolute;
}

.name {
    margin-top: 10px;
    font-size: 24px;
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: bold;
    line-height: 37px;
    letter-spacing: -0.333333px;
    position: absolute;
    margin-top: 150px;
}

.navBar {
    background: rgba(196, 196, 196, 0.54);
    width: 375px;
    height: 90px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.37);
}
