* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-bar {
    bottom: 0;
    position: fixed;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.37);
    width: 100%;
    background: rgba(196, 196, 196, 0.54);
    padding-top: 1em;
    padding-bottom: 1em;
}

.home-box, .search-box, .settings-box {
    flex: 1;
    width: 100%;
}

.nav-bar img {
    max-width: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}